@charset "UTF-8";
/* CSS Document */


/* ensures all images are never wider than the screen they are displayed on for responsive reasons */
img {
	max-width: 100%;
}

/* resizes and centers the rubyside logo */
img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 200px;
}

/* styles and centers all headings on the page */
h1 {
	color: #4d4d4d;
	font-family: 'sofia-pro', arial;
	text-align: center;
	font-size: 25px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* styles the footer by making it fixed to the bottom of the page and giving it a red background colour, also styles the font within the footer to white and the font family shown below */
footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C1272D;
    color: white;
	font-family: 'sofia-pro', arial;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* aligns the writing in the footer to the left */
p.footer {
	float: left;
	padding-left: 20px;
}

/* styles the link within the footer */
a.footer {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family : Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

/* styles the link within the footer to change colour from white to grey on hover */
a.footer:hover {
	color: #4D4D4D;
}

/* Align the contact content of the footer to the right and sets the max width of the images to 50px */
.contact {
	postion: relative;
	float: right;
	padding-right: 20px;
	max-width: 50px;
		
}


/* aligns organiser images next to eachother */
.column {
  float: left;
  width: 33.33%;
}

/* clears any floats after the organiser images */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* sets a max width for the organisers images */
img.organiser {
	max-width: 150px;
}

/* positions the pictures of the items on the pages to the center */
.organiser {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* makes columns fall on top of each other instead of next to each other on screens with a width below 850px */
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
	padding-bottom: 30px;
  }
}

/* styles the names of the organisers */
p.name {
	text-align: center;
	font-family: 'sofia-pro', arial;
	font-weight: bold;
	font-size: 20px;
	color: #4d4d4d;
}

/* styles the rolls of the organisers */
p.about {
	text-align: center;
	font-family: 'sofia-pro', arial;
	font-size: 18px;
	color: #4d4d4d;
}

/* styles the linkedin links for the organisers */
a.linkedin {
	display: block;
	text-align: center;
	font-family: 'sofia-pro', arial;
	font-weight: bold;
	font-size: 18px;
	color: #4d4d4d;
	text-decoration: none;
	padding-bottom: 100px;
}

/* styles the content of the 'What is Rubyside?' section */
p.content {
	text-align: center;
	font-family: 'sofia-pro', arial;
	color: #4d4d4d;
	margin-left: 300px;
	margin-right: 300px;
	font-size: 19px;
}


/* makes content fall nicely on screens with a width below 850px (considering horizontal rotation of devices too) */
@media screen and (max-width: 850px) {
/* aligns text content for smaller devices */
  p.content {
    margin-left: 20px;
	margin-right: 20px;
  }
}

/* styles the event info */
p.p1 {
	font-family: 'sofia-pro', arial;
	font-weight: bold;
	font-size: 25px;
	color: #4d4d4d;
	text-align: center;
}


/* styles the event link to look like a button */
a.event {
	background-color: #C1272D;
	text-decoration: none;
	color: white;
	font-family: 'sofia-pro', arial;
	font-weight: bold;
	font-size: 20px;
	padding: 20px; 
}

/* styles the event link to change from white to grey on hover */
a.event:hover {
	color: #4d4d4d;
}

/* adds space between the 'next event' section and the 'organisers' section */
p.space {
	padding-bottom: 50px;
}

/* centers the event link button */
p.center {
	text-align: center;
	padding-top: 50px;
}